<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Computing Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Computing Courses</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h3>List of Undergraduate Programs Offered by The Department of Computing.</h3>
    <p><a href="#">BSc. General</a></p>
    <ol><li><a href="#">Computer Science Major</a></li>
    <li><a href="#">Software Engineering Major</a></li>
    </ol><p><a href="#">BSc Information Technology </a></p>
    <p><a href="#">BSc Computer Studies Option</a></p>
    <p><a href="#">BSc. Software Engineering (Mobile Application Technologies)</a></p>
    <p><a href="#">Minors are Offered as Follows:</a></p>
    <ol><li><a href="#">Minor in Computer Science</a></li>
    <li><a href="#">Minor in Software Engineering</a></li>
    <li><a href="#">Minor in Information Technology</a></li>
    </ol><p><a href="#">Course Listing</a></p>
  </div>
</ion-content>
